APP_NAME=Human vs Machine Decision Study
APP_MODE=demonstration

POSTGRES_DB=decision_study
POSTGRES_USER=decision_user
POSTGRES_PASSWORD=replace_with_local_password
POSTGRES_HOST=localhost
POSTGRES_PORT=55432

FRONTEND_ORIGIN=http://localhost:5173